<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jurassic Monitoring System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bundle.css" rel="stylesheet">
    <script src="/js/bundle.js" defer></script>
</head>
<body>
<header class="bg-light">
    <div class="container">
        <nav class="navbar navbar-light navbar-expand-md">
            <a href="/" class="navbar-brand">
                <img src="/images/logo.png" alt="Jurassic Monitoring" width="30" height="30" class="d-inline-block align-top">
                <span class="ps-1">Jurassic Monitoring System</span>
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <!-- Add more navigation items as needed -->
                </ul>
            </div>
        </nav>
    </div>
</header>

<main class="my-5">
    <div class="container">
        <!-- Dynamic content loaded by JavaScript or embedded directly in specific pages -->
        <div id="content"></div>
    </div>
</main>
</body>
</html>
